/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
html {
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
}

/* CONTAINER */
.container {
    display: flex;
}

/* SIDEBAR */
.sidebar {
    width: 200px;
    height: calc(100vh - 120px);
    background-color: red;
}

/* CONT-H-M */
.cont-h-m {
    width: calc(100% - 200px);
    background-color: black;
}

/* HEADER */
.header {
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(0, 0, 0, .8);
}

.header a {
    color: white;
    border: 2px solid white;
    margin-right: .3em;
    padding: .7em 2em;
    border-radius: 3em;
}


/* MAIN */
.main { 
    height: calc(100vh - 200px);
}

/* FOOTER */
.cont-footer{
    height: 120px;
    background-color: yellowgreen;
}