/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
html {
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
}

.white{
    color: white;
}

.gray,
.playlist i,
.jhon i {
    color: gray;
}

.mg-left{
    margin-left: 1em;
}

.flex{
    display: flex;
}

.fs-15{
    font-size: 15px;
}

ul{
    list-style: none;
}

/* SIDEBAR */
.sidebar {
    width: 200px;
    height: calc(100vh - 120px);
    background-color: #000000;
    padding-top: .7em;
    position: relative;
}

/* logo */
.sidebar img{
    width: 80%;
    text-align: center;
    padding-bottom: 1em;
}

.logo{
    padding-left: 1em;
}

/* home */
.cont{
    border-left: 2px solid greenyellow;
}

.home{
    padding-top: .5em;
}

.width img{
    width: 13%;
    margin-right: .5em;
}

h4{
    padding-top: .3em;
}

/* search and library*/
.search p{ 
    display: inline-block;
    padding-top: .3em;
}

/* playlist */
.text{
    font-size: 1em;
    margin-top: 1em;
}

.playlist{
    margin-top: .5em;
    align-items: center;
}

.playlist i{
    font-size: 2em;
    margin-right: .3em;
}

/* list */
.list li{
    padding: .7em 0;
}

/* part-down */
.part-down{
    position: absolute;
    bottom: .5em;
}

.install i{
    margin-right: 1em;
}

.hr{
    background-color: gray;
    height: 1px;
    width: 170px;
    margin: .5em 0 0 1em;
}

.jhon{
    align-items: center;
    margin: .5em 0 0 1em;
}

.jhon i{
    font-size: 2em;
}

.jhon p{
    margin-left: .5em;
}

/* CONT-H-M */
.cont-h-m {
    width: calc(100% - 200px);
    color: white;
    overflow: hidden;
}

/* HEADER */
.header {
    height: 80px;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(0, 0, 0, .9);
    /* position: fixed;
    top: 0;
    left: 0; */
}

.header a {
    border: 2px solid white;
    margin-right: .3em;
    padding: .7em 2em;
    border-radius: 3em;
}


/* MAIN */
.main { 
    height: calc(100vh - 200px);
    overflow: auto;
    background-color: #14161c;
}

/* list */
.main-nav{
    justify-content: center;
    margin: 1em 0 3em;
}

.main-nav li{
    margin-right: 1.5em;
}

/* card */
.cont-main{
    margin-left: 2em;
}

.title-main{
    margin-bottom: 1em;
    margin-left: 1.3em;
}

.card{
    width: 230px;
    text-align: center;
    margin-right: 1em;
}

.card img{
    width: 100%;
}

.genere{
    margin: .5em 0;
}

.text2 h2{
    margin-bottom: .5em;
    margin-top: 2em;
}

.text2{
    margin-left: 2em;
    margin-bottom: 3em;
}

.b-radius{
    border-radius: 50%;
}

.artisti{
    margin-bottom: 20em;
}
/* FOOTER */
.cont-footer{
    height: 120px;
    background-color: #212121;
    justify-content: space-between;
    align-items: center;
    color: white;
}

/* col-right */
.col{
    width: 20%;
}

.col-left{
    height: 100px;
}

.col-right{
    height: 70px;
    width: 70px;
    background-image: url(../img/sinister.jpeg);
    background-size: cover;
    margin-left: 1em;
}

.text-foot{
    padding-left: .7em;
    flex-direction: column;
    justify-content: center;
}

.icon-foot{
    align-items: center;
    padding-left: 1em;
}

.icon-foot i{
    padding: .5em;
    font-size: 1.2em;
}

/* col-center */

.col-center{
    width: 40%;
} 

.music-icon{
    justify-content: center;
    align-items: center;
    margin-bottom: .5em;
}

.music-icon i:nth-of-type(1){
    font-size: 2em;
    margin-right: .5em;
}

.music-icon i:nth-of-type(2),
.music-icon i:nth-of-type(4){
    font-size: 2.5em;
}

.music-icon i:nth-of-type(3){
    font-size: 3em;
    margin: 0 .7em;
}
.music-icon i:nth-of-type(5){
    font-size: 2em;
    margin-left: .5em;
}

/* time */
.time{
    width: 10%;
    height: 20px;
}

/* bar */
.bar{
    width: 80%;
    height: 20px;
    align-items: center;
}

.bar-white{
    width: 20%;
    height: 5px;
    background-color: lightgray;
    border-radius: 3px;
}

.bar-gray{
    width: 80%;
    height: 5px;
    background-color: rgb(77, 74, 74);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

/* time-end */
.end{
    justify-content: flex-end;
}

/* col-left */
.col-left{
    margin-right: 1em;
    height: 30px;
}

.icon-end{
    width: 30%;
    align-items: center;
    margin-right: 1em;
}

.icon-end i{
    font-size: 1.2em;
}

.icon-end i:nth-of-type(2){
    margin: 0 1em;
}

.bar-end{
    width: 70%;
    align-items: center;
}


