/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
html {
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
}

/* CONTAINER */
.container {
    display: flex;
}

/* SIDEBAR */
.sidebar {
    width: 200px;
    height: calc(100vh - 120px);
    background-color: #000000;
    padding-top: .7em;
}

/* logo */
.sidebar img{
    width: 80%;
    text-align: center;
    padding-bottom: 1em;
}

.logo{
    padding-left: 1em;
}

/* home */
.cont{
    border-left: 2px solid greenyellow;
}

.home{
    display: flex;
    padding-top: .5em;
}

.width img{
    width: 13%;
    margin-left: 1em;
    margin-right: .5em;
}

h4{
    color: white;
    padding-top: .3em;
}

/* search and library*/
.search{
    display: flex;
}
.search p{ 
    color: gray;
    display: inline-block;
    padding-top: .3em;
}

/* playlist */
h2{
    color: white;
    font-size: 1em;
    margin-left: 1em;
    margin-top: 1em;
}

.playlist{
    display: flex;
    margin-top: .5em;
    margin-left: 1em;
    align-items: center;
}

.playlist p{
    color: gray;
}

.playlist i{
    font-size: 2em;
    margin-right: .3em;
    color: gray;
}

.list{
    color: gray;
    list-style: none;
    margin-left: 1em;
}

.list li{
    padding: .7em 0;
}

/* CONT-H-M */
.cont-h-m {
    width: calc(100% - 200px);
    background-color: black;
}

/* HEADER */
.header {
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(0, 0, 0, .8);
}

.header a {
    color: white;
    border: 2px solid white;
    margin-right: .3em;
    padding: .7em 2em;
    border-radius: 3em;
}


/* MAIN */
.main { 
    height: calc(100vh - 200px);
}

/* FOOTER */
.cont-footer{
    height: 120px;
    background-color: yellowgreen;
}